.content{
	/*height: 1000px;*/
	    padding-bottom: 200px;
}
.tip {
	float: left;
	margin-left: 5px;
	height: 36px;
}

.tip span:first-child {
	float: left;
	display: block;
	width: 290px;
	height: 30px;
	/*margin-left:10px ;*/
	/*border: 1px solid;*/
}

.tip span:last-child {
	text-align: center;
	display: block;
	width: 500px;
	height: 30px;
	/*border: 1px solid;*/
	float: right;
	margin-left: 15px;
}

.navBar {
	width: 180px;
	float: left;
	text-align: center;
}

.navBar p {
	height: 35px;
	text-align: center;
	background-color:slategrey;
	color: white;
	border-radius:5px ;
	margin-bottom: -1px;
}
.navBar button{
	width: 180px;
	height: 35px;
	margin-top: 5px;
}
.organization{
	text-align: center;
	width: 800px;
	float: right;
	height: 600px;
}
.organization>span{
	text-align: left;
	display: block;
	float: left;
	width: 260px;
	height: 35px;
	/*border: 1px solid;*/
	margin-left: 5px;
	margin-bottom: 5px;
}
.organization table{
	text-align: center;
	width: 780px;
}
.organization td{
	height:35px;
	/*border:1px solid ;*/
}
.fenye {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 100px;
}