.content{
	/*height: 1000px;*/
	    padding-bottom: 300px;
}
.tip {
	float: left;
	/*margin-left: 5px;*/
	height: 36px;
}

.tip span:first-child {
	float: left;
	display: block;
	width: 300px;
	height: 30px;
	/*padding-left: 60px;*/
	/*border: 1px solid;*/
}

.tip span:last-child {
	text-align: center;
	display: block;
	width: 500px;
	height: 30px;
	/*border: 1px solid;*/
	float: right;
	margin-left: 15px;
	
}

.navBar {
	width: 180px;
	float: left;
	text-align: center;
}

.navBar p {
	height: 35px;
	text-align: center;
	background-color:slategrey;
	color: white;
	padding-top:5px ;
	border-radius:5px ;
	margin-bottom: -1px;
}
.navBar button{
	width: 180px;
	height: 35px;
	margin-top: 5px;
}
.applyActivyty{
	float: right;
	width: 815px;
	height: 500px;
	/*border: 1px solid;*/
	padding: 25px 5px 5px 5px;
	text-align: center;
}
form{
	text-align: center;
	width: 805px;
}
form input{
	display: block;
	width: 500px;
	height: 50px;
	margin:15px 0px 15px 150px;
}
form text:last-of-type{
	background-color: white;
}
.tox{
	margin-left: 150px;
}

.btn{
	margin:15px 0px 15px 0px;
}
