.content{
	/*height: 1000px;*/
	    padding-bottom: 200px;
}
.tip {
	float: left;
	margin-left: 5px;
	height: 36px;
}

.tip span:first-child {
	float: left;
	display: block;
	width: 300px;
	height: 30px;
	/*border: 1px solid;*/
}

.tip span:last-child {
	text-align: center;
	display: block;
	width: 500px;
	height: 30px;
	/*border: 1px solid;*/
	float: right;
	margin-left: 15px;
}

.navBar {
	width: 180px;
	float: left;
	text-align: center;
}

.navBar p {
	height: 35px;
	text-align: center;
	background-color:slategrey;
	color: white;
	border-radius:5px ;
	margin-bottom: -1px;
}
.navBar button{
	width: 180px;
	height: 35px;
	margin-top: 5px;
}
.myApply{
	padding-top:5px ;
	text-align: center;
	float: right;
	width:815px ;
	/*border:1px solid;*/
	 
}
.myApply input{
	width: 560px;
	height: 35px;
	/*margin-left: 10px;*/
}
.myApply >button{
	width: 135px;
	height: 35px;
}
.applyState{
	position: relative;
	width: 750px;
	height: 150px;
	/*border:1px solid ;*/
	margin:10px 10px 10px 45px 	;
	padding: 10px;
}
.applyState span:first-of-type{
	display: block;
	width: 650px;
	height: 80px;
	/*font-size: 180%;*/	
	border: 1px solid;
	text-align: left;
	padding-left: 5px;
}

.applyState span:nth-child(2)
{
	padding-left:5px ;
	text-align: left;
	display: block;
	float: left;
	width: 450px;
	height: 35px;
	/*font-size: 180%;*/	
	border: 1px solid;
}
.applyState span:nth-child(3){
		padding-left:5px ;
	text-align: left;
	float: left;
	display: block;
	width: 250px;
	height: 35px;
	border: 1px solid;
}
.applyState button{
	position: absolute;
	width: 50px;
	height: 80px;
	top:9px;
	right: 39px;
}

.fenye{
	text-align: center;
	height: 100px;
	margin-top:10px ;
	margin-bottom: 10px;
}
